on init 
    chown system system /sys/devices/platform/soc/soc:qcom,dsi-display/dsi_display_hbm
    chown system system /sys/devices/platform/soc/soc:qcom,dsi-display/dsi_display_cabc
    chown system system /sys/devices/platform/soc/soc:qcom,dsi-display/dsi_display_cabc_movie
    chown system system /sys/devices/platform/soc/soc:qcom,dsi-display/dsi_display_cabc_still
